<!DOCTYPE html>
<html>
<head>
  <title>Bob Loblaw's Law Blog</title>
</head>
<body>
  <nav>
		<ul>
      <li>
        <a href="/">Home</a>
      </li>
			<li>
				<a href="/authors">Authors</a>
			</li>
			<li>
				<a href="/articles">Articles</a>
			</li>
		</ul>
	</nav>
  <%- body %>
</body>
</html>