<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Bob Loblaw's Law Blog</title>
</head>
<body>
  <nav class="navbar">
    <a href="/">Bob Loblaw's Law Blog</a>
		<ul>
      <li>
      </li>
			<li>
				<a href="/authors">Authors</a>
			</li>
			<li>
				<a href="/articles">Articles</a>
			</li>
		</ul>
	</nav>
  <%- body %>
</body>
</html>